.header{
    text-align: center;
    margin: auto;
}
.sizeBlock1{
    background-color:rgba(247, 245, 242);
    height: 50px;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid rgba(20, 30, 39);
    text-align: center;
    font-size:15px;
}
.fontInBox{
    text-align: center;
    margin: auto;
    font-size: 15px;
    height: 50px;
    width: 100%;
    background-color:rgba(255, 99, 99, 0.668);
    border: 1px solid rgba(20, 30, 39);
    border-radius: 12px 12px 0 0;
}
.sizeBlock2{
    border: 1px solid rgba(20, 30, 39);
    height: 50px;
    width: 100%;
    background-color:rgba(247, 245, 242, 0.5);
    margin-bottom: 0;
    font-size:15px;
    text-align: center;
}
.sizeBlock3{
    border: 1px solid rgba(20, 30, 39);
    height: 50px;
    width: 100%;
    background-color:rgba(247, 245, 242, 0.54);
    margin-bottom: 0;
    border: 1px solid rgba(20, 30, 39);
    font-size:15px;
    text-align: center;
}
.sizeBlock4{
    height: 50px;
    width: 100%;
    background-color:rgba(247, 245, 242, 0.438);
    margin-bottom: 0;
    border: 1px solid rgba(20, 30, 39);
    font-size:15px;
    text-align: center;
}
.sizeBlock5{
    height: 50px;
    width: 100%;
    background-color:rgba(247, 245, 242, 0.424);
    margin-bottom: 0;
    border: 1px solid rgba(20, 30, 39);
    font-size:30px;
}
body{
    background-image: url(/img/background_image.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.fixedButton{
    margin: auto;
    width: 150px;
    height: 15px;
}
.sizeBlock6{
    height: 40px;
    width: 100%;
    background-color:rgba(255, 99, 99, 0.668);
    margin-bottom: 0;
    border: 1px solid rgba(20, 30, 39);
    border-radius: 0px 0px 8px 8px;
    font-size:  15px;
    text-align: center;
}
#btnStop{
    display: none;
}
#btnClear{
    display: none;
}
.btnColorStart{
    background-color:rgba(100, 201, 207);
}
.btnColorStop{
    background-color:rgba(240, 255, 194);
}
.btnColorClear{
    background-color:rgb(240, 255, 194);
}